<a href="https://colab.research.google.com/github/nishantgovil03/Research/blob/master/Research.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
%pwd

'/content'

In [6]:
%ls

drive/  sample_data/

In [7]:
%cd drive/MyDrive/

/content/drive/MyDrive

In [8]:
import pandas as pd

In [9]:
data = pd.read_csv("InputData.csv")

In [10]:
data

      Unnamed: 0  ...                                            Summary
0              0  ...  <START> increase in the stamp duty threshold f...
1              1  ...  <START> they are very much not for the good an...
2              2  ...  <START> michael howard has denied his shadow c...
3              3  ...  <START> the report said individual registratio...
4              4  ...  <START> ukip roger has said he is glad to see ...
...          ...  ...                                                ...
4445        4445  ...  <START> india will allow domestic commercial a...
4446        4446  ...  <START> yukos says a us court was entitled to ...
4447        4447  ...  <START> house prices were higher on the year i...
4448        4448  ...  <START> rod ba chief said the results were res...
4449        4449  ...  <START> the commerce department said the trade...

[4450 rows x 4 columns]

In [12]:
from tensorflow.keras import Sequential
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Dense,LSTM,Bidirectional,Flatten,Dropout,BatchNormalization,Embedding,Input,TimeDistributed
from sklearn.model_selection import train_test_split

In [13]:
X_train,X_val,Y_train,Y_val=train_test_split(data['Article with stop words'],data['Summary'],test_size=0.3,random_state=29)
print(len(X_train),len(Y_train))
print(len(X_val),len(Y_val))

3115 3115
1335 1335

In [14]:
max_art_len=500
max_sum_len=100

In [15]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [16]:
article_tokenizer=Tokenizer(oov_token='<UNK>')
article_tokenizer.fit_on_texts(X_train)
tokenized_X_train=article_tokenizer.texts_to_sequences(X_train)
tokenized_X_val=article_tokenizer.texts_to_sequences(X_val)

art_vocab_size=len(article_tokenizer.word_index)+1

In [18]:
art_vocab_size

24225

In [17]:
padded_X_train=pad_sequences(tokenized_X_train,maxlen=max_art_len,padding='post',truncating='post')
padded_X_val=pad_sequences(tokenized_X_val,maxlen=max_art_len,padding='post',truncating='post')

In [19]:
print(padded_X_train.shape,padded_X_val.shape)

(3115, 500) (1335, 500)

In [20]:
summary_tokenizer=Tokenizer(oov_token='<UNK>')
summary_tokenizer.fit_on_texts(Y_train)
tokenized_Y_train=summary_tokenizer.texts_to_sequences(Y_train)
tokenized_Y_val=summary_tokenizer.texts_to_sequences(Y_val)

sum_vocab_size=len(summary_tokenizer.word_index)+1

In [21]:
sum_vocab_size

15775

In [22]:
padded_Y_train=pad_sequences(tokenized_Y_train,maxlen=max_sum_len,padding='post',truncating='post')
padded_Y_val=pad_sequences(tokenized_Y_val,maxlen=max_sum_len,padding='post',truncating='post')

In [23]:
print(padded_Y_train.shape,padded_Y_val.shape)

(3115, 100) (1335, 100)