<a href="https://colab.research.google.com/github/nishantgovil03/Research/blob/master/Research.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
%pwd

'/content/drive'

In [13]:
%ls

MyDrive/

In [14]:
%cd MyDrive/

/content/drive/MyDrive

In [17]:
import pandas as pd

In [19]:
data = pd.read_csv("InputData.csv")

In [20]:
data

      Unnamed: 0  ...                                            Summary
0              0  ...  <START> increase in the stamp duty threshold f...
1              1  ...  <START> they are very much not for the good an...
2              2  ...  <START> michael howard has denied his shadow c...
3              3  ...  <START> the report said individual registratio...
4              4  ...  <START> ukip roger has said he is glad to see ...
...          ...  ...                                                ...
4445        4445  ...  <START> india will allow domestic commercial a...
4446        4446  ...  <START> yukos says a us court was entitled to ...
4447        4447  ...  <START> house prices were higher on the year i...
4448        4448  ...  <START> rod ba chief said the results were res...
4449        4449  ...  <START> the commerce department said the trade...

[4450 rows x 4 columns]